name: CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs-version:
          - '28.1'
          - '28.2'
          - '29.1'
          - '29.2'
          - '29.3'
          - '29.4'
          - '30.1'
          - 'release-snapshot'
          - 'snapshot'
    steps:
      - uses: actions/checkout@v4
      - uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs-version }}
      - name: Install Compat
        run: emacs --batch --eval "(ignore-errors (package-refresh-contents) (package-install 'compat))"
      - name: Install Gnuplot
        run: sudo apt update && sudo apt install gnuplot
      - name: Run tests
        run: make && make test
